<!-- adventure.component.html -->
<div class="adventure-wrapper">
  <div class="adventure-scene" data-aos="zoom-in">
    <div class="dialog-box" *ngIf="dialogText">
      <p>{{ dialogText }}</p>
    </div>



  <div
    class="hotspot-contact"
    (mouseenter)="hoverContact = true"
    (mouseleave)="hoverContact = false"
    (click)="goToContact()"
  >
    <div class="glow-overlay" [class.active]="hoverContact"></div>
    <span class="tooltip">💻 Contacto</span>
  </div>

  <div
    class="hotspot-about"
    (mouseenter)="hoverAbout = true"
    (mouseleave)="hoverAbout = false"
    (click)="goToAbout()"
  >
    <div class="glow-overlay" [class.active]="hoverAbout"></div>
    <span class="tooltip">💻 About me</span>
  </div>

  <div
    class="hotspot-cv"
    (mouseenter)="hoverCv = true"
    (mouseleave)="hoverCv = false"
    (click)="goToCv()"
  >
    <div class="glow-overlay" [class.active]="hoverCv"></div>
    <span class="tooltip">💻 Experiencia</span>
  </div>

  <div
    class="hotspot-demo"
    (mouseenter)="hoverDemo = true"
    (mouseleave)="hoverDemo = false"
    (click)="goToDemo()"
  >
    <div class="glow-overlay" [class.active]="hoverDemo"></div>
    <span class="tooltip">💻 Experiencia</span>
  </div>

    <div
    class="hotspot-code"
    (mouseenter)="hoverCode = true"
    (mouseleave)="hoverCode = false"
    (click)="goToCode()"
  >
    <div class="glow-overlay" [class.active]="hoverCode"></div>
    <span class="tooltip">💻 Código</span>
  </div>



  </div>
</div>
