<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/aventura" routerLinkActive="active">Aventura</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/cv" routerLinkActive="active">Modo CV</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
  </li>
</ul>
