<div class="split-screen">
  <div
    class="left"
    (click)="enterMode('cv')"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-easing="ease-out-cubic"
  >
    <h1>🖥️ MODO CV</h1>
    <p>Experiencia, habilidades, contacto</p>
  </div>

  <div
    class="right"
    (click)="enterMode('aventura')"
    data-aos="fade-left"
    data-aos-duration="1000"
    data-aos-easing="ease-out-cubic"
  >
    <h1>🎮 MODO AVENTURA</h1>
    <p>Explora proyectos como si jugaras una aventura gráfica</p>
  </div>
</div>
