.about-scene {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  font-family: 'Press Start 2P', monospace;
  color: #39ff14;
  background-color: black;
  border: 2px solid #39ff14;
  border-radius: 8px;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;

}

.character-frame {
  width: 260px;
  height: 260px;
  padding: 10px;
  background: repeating-linear-gradient(45deg, #444, #444 2px, #666 2px, #666 4px);
  border: 6px solid transparent;
  border-image: url('/assets/images/marco-metalico.png') 30 round;
  image-rendering: pixelated;
}

.character-frame img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: floaty 3s ease-in-out infinite;
}

.about-info {
  flex: 1;
  min-width: 280px;
}

.about-info h1 {
  font-size: 0.9rem;
}

.about-info h1 .name {
  color: #ff007f;
}

.about-info .terminal {
  background: #111;
  padding: 1rem;
  border-left: 4px solid #39ff14;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(50, end);
}

.about-info h2 {
  margin-top: 2rem;
  color: #00f9ff;
  font-size: 0.7rem;
}

.about-info ul {
  list-style: none;
  padding-left: 1rem;
  font-size: 0.6rem;
  margin: 0;
}

.about-info ul li {
  margin-bottom: 0.5rem;
}

.about-info > div {
  margin-bottom: 2rem;
}
