<div class="about-scene" data-aos="zoom-in-up">
  <button
    class="back-arrow"
    type="button"
    (click)="goToAdventure()"
    aria-label="Volver a Aventura"
  >
    <i class="fa-solid fa-arrow-left"></i>
  </button>
<div class="character-frame" data-aos="fade-up" data-aos-delay="100">
  <img src="/assets/images/retrato.png" alt="Retrato retro" />
</div>

  <div class="about-info">
    <h1 data-aos="fade-right" data-aos-delay="200">👾 Hola, soy <span class="name">Carolina Millán</span></h1>
<p class="intro terminal" data-aos="fade-left" data-aos-delay="400">
  <span>{{ typedText }}</span><span class="cursor">█</span>
</p>
    <div class="skills" data-aos="fade-up" data-aos-delay="600">
      <h2>> HABILIDADES PRINCIPALES</h2>
      <ul>
        <li>🧠 Resolución de problemas: 95%</li>
        <li>🚀 Proactividad: 90%</li>
        <li>🎨 Creatividad: 98%</li>
        <li>🤝 Trabajo en equipo: 92%</li>
        <li>🔄 Versatilidad: 100%</li>
      </ul>
    </div>

    <div class="tech-inventory" data-aos="fade-up" data-aos-delay="800">
      <h2>> INVENTARIO TECNOLÓGICO</h2>
      <ul>
        <li>🛠️ Angular, Vue</li>
         <li>🎨 Diseño UI</li>
        <li>🎨 HTML, CSS, SCSS, Bootstrap, Angular material</li>
        <li>🔁 Git, GitHub, Swagger, Sonar Qube</li>
        <li>🧪 Cypress, TypeScript, JavaScript</li>
        <li>☁️ Azure, Power Platform</li>
      </ul>
    </div>

    <div class="training-log" data-aos="fade-up" data-aos-delay="900">
      <h2>> ENTRENAMIENTO Y FORMACIÓN</h2>
      <ul>
        <li>📘 2022-Actual: Bootcamp Desarrollo Web Glovo – KeepCoding</li>
        <li>🎓 2020-2022: FP Superior Desarrollo Aplicaciones Web</li>
        <li>📊 2012-2014: FP Superior Administración y Finanzas</li>
        <li>🛍️ 2000-2002: FP Medio de Comercio</li>
      </ul>
    </div>

    <div class="system-skills" data-aos="fade-up" data-aos-delay="1000">
      <h2>> SISTEMAS E IDIOMAS</h2>
      <ul>
        <li>🧾 Español: Nativo</li>
        <li>🗨️ Inglés: Nivel medio</li>
        <li>💻 Windows / Linux (Ubuntu) / VirtualBox</li>
        <li>🗃️ Office, instalación de software, máquina virtual</li>
      </ul>
    </div>

    <div class="profile-stats" data-aos="fade-up" data-aos-delay="1050">
      <h2>> CARACTERÍSTICAS PERSONALES</h2>
      <ul>
        <li>🧩 Creatividad: 98%</li>
        <li>🕹️ Resolución de bugs: 95%</li>
        <li>❤️ Pasión por el detalle: 100%</li>
      </ul>
    </div>

    <div class="fun-facts" data-aos="fade-up" data-aos-delay="1100">
      <h2>> CURIOSIDADES</h2>
      <ul>
        <li>🎮 Fan de las aventuras gráficas</li>
        <li>🖥️ Me relajo haciendo proyectos absurdos con estilo retro</li>
        <li>✨ Superpoder: mantener la calma mientras todo falla en producción 😎</li>
      </ul>
    </div>
  </div>
</div>
