.terminal {
  margin-top: 30px;
  padding: 20px;
  background: black;
  border: 2px solid #33ff33;
  color: #33ff33;
  font-family: 'VT323', monospace;
  box-shadow: 0 0 15px #33ff33;
}

input, textarea {
  background: black;
  border: none;
  border-bottom: 1px solid #33ff33;
  color: #33ff33;
  outline: none;
  width: 100%;
}
