@use "@fortawesome/fontawesome-free/css/all.css";

@use "./variables.scss";

@use 'bootstrap/scss/bootstrap';


html, body, app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black !important;

}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: black !important;
}