@use "@fortawesome/fontawesome-free/css/all.css";

@use "./variables.scss";

@use 'bootstrap/scss/bootstrap';


html, body, app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black !important;

}

body {
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  background-color: black !important;
}

.modal-content {
  background-color: #000 !important;
  background-image: repeating-linear-gradient(45deg, #111 0px, #111 2px, #000 2px, #000 4px) !important;
  color: #39ff14 !important;
  font-family: 'Press Start 2P', monospace !important;
   border: 4px solid #39ff14; // borde más grueso
  box-shadow: 0 0 40px #39ff14; // brillo extra
}

